* {
  font-family: "Roboto";
}

body {
  background-color: #1f2937;
}

/* The Header */
#header {
  width: 100%;
  font-family: "Roboto";
}

#hero,
#front,
#info,
#quote,
#signup,
#footer {
  margin: auto;
  /* width: 65%; */
  /* padding: 10px; */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f2937;
}
li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover {
  color: powderblue;
}

.floatRight {
  float: right;
}

.logo,
.mainText {
  color: #f9faf8;
}

.logo {
  font-size: 24px;
}

.secondaryText {
  font-size: 18px;
  color: #e5e7eb;
}

/* Front Section */
#front {
  /* background-color: brown; */
  /* border: 3px solid orange; */
  padding: 16px;
  gap: 8px;
  display: flex;
}

#frontBox {
  width: 50%;
  height:auto;
  padding: 14px 16px;
  flex: 1;
}

#frontImage {
  width: 50%;
  padding: 14px 16px;
  flex: 2;
}
.mainImg {
  border: 2px solid orange;
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.mainText {
  font-size: 48px;
}

button {
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: green;
}

/* Information section */

#info {
  /* display: flex; */
  /* border: 3px solid orange; */
  background-color: #f9faf8;
  padding: 16px;
  gap: 8px;
  text-align: center;
}

.theInfo {
  /* float:left; */
  /* border: 2px solid red; */
  color: #1f2937;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.theInfo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #3882f6;
  border-radius: 20px;
  margin: 5px 20px 0px 20px;
}

#quote{
  background-color: #e5e7eb;
}

.quoteText{
  display: flex;
  flex-direction: column;
  padding:0 200px;
}