* {
  font-family: "Roboto";
}

body {
  background-color: #1f2937;
}

/* The Header */
#header {
  width: 100%;
  font-family: "Roboto";
}

#hero,
#front,
#info,
#quote,
#signup,
#footer {
  margin: auto;
  /* width: 65%; */
  /* padding: 10px; */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f2937;
}
li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover {
  color: powderblue;
}

.floatRight {
  float: right;
}

.logo,
.mainText {
  color: #f9faf8;
}

.logo {
  font-size: 24px;
}

.secondaryText {
  font-size: 18px;
  color: #e5e7eb;
}

/* Front Section */
#front {
  /* background-color: brown; */
  padding: 16px;
  /* border: 3px solid orange; */
  gap: 8px;
  display: flex;
}

#frontBox {
  width: 50%;
  padding: 14px 16px;
  flex: 1;
}

#frontImage {
  width: 50%;
  padding: 14px 16px;
  flex: 2;
}
img {
  border: 2px solid orange;
  width: 100%;
  height: auto;
}

.mainText {
  font-size: 48px;
}

button {
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: green;
}

/* Information section */

#info {
  background-color: #f9faf8;
  /* border: 3px solid orange; */
  padding: 16px;
  gap: 8px;
  display: flex;
  text-align: center;
}

.randomInfo {
  background-color: purple;
  text-align: center;
  margin: 0 auto;
  color:#1f2937;
  display:block;
}

.info{
    color: #1f2937;
}

